@use "./styles/colours/pallet.module.scss" as pallet;

.nav {
  flex-grow: 1;

  a img {
    margin: 1rem 1rem;
  }

  ul {
    padding: 0;
    margin-left: 1rem;
    li {
      list-style-type: none;
      margin: 0;
    }
  }
}
