/*
    Colour pallet for accessibility     
*/
$darkBlue: #001636;
$navyBlue: #0724a2;
$brightNavyBlue: #2b0bb5;
$purple: #8c54b3;
$darkPink: #cc87a3;
$white: #ffffff;
$black: #000000;
$orange: #c7622b;
