@use '../colours/pallet.module.scss' as pallet;

/*
    Font sizing is based on browser default size
*/
$midFontSize: 1rem;
$midLineHeight: 1.5rem;
$familyFont: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

.midFont {
    font-family: $familyFont;
    font-kerning: auto;
    font-size:  $midFontSize;
    font-weight: normal;
    line-height: $midLineHeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: pallet.$darkPink;
    font-weight: bold;
    text-decoration: none;

    &:hover,
    &:visited {
        color: pallet.$orange;
        font-weight: bold;
    }
}
